<div class="col-lg-8" id="timeline">

    <h1 class="h1-strong">
        {{title}}
        <button class="btn btn-success btn-sm" (click)="refresh($event)"> Show new publications</button>

    </h1>




    <div id="publications">
        <div *ngFor="let publication of publications" class="item-publication">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{url + 'get-image-user/' + publication.user.image}}" *ngIf="publication.user.image" />
                            <img src="assets/default-user.jpg" class="avatar-default" *ngIf="!publication.user.image" />
                        </a>
                    </div>

                    <div>
                        <a [routerLink]="['/profile', publication.user._id]" class="user-name">
							{{publication.user.name + ' ' + publication.user.surname}}
						</a> &nbsp;|&nbsp;
                        <span class="date">
							<!--If you want to translate it into Spanish, you have to include | amLocale: 'es' after the amFromUnix) -->
							Posted {{(publication.created_at | amFromUnix) | amTimeAgo}}
						</span>

                    </div>

                    <h4 class="publication-text pull-left">
                        {{publication.text}}
                    </h4>


                    <div class="pull-right" *ngIf="publication.user._id == identity._id">

                        <!--BOOTSTRAP MODEL FOR DELETING A PUBLICATION GOES HERE -->

                        <!-- Button trigger modal -->
                        <a href="#myModal{{publication._id}}" role="button" class="btn btn-large btn-danger" data-toggle="modal" *ngIf="showImage != publication._id">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        &nbsp;
                        <!-- Modal -->
                        <div class="modal fade" id="myModal{{publication._id}}" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Are you sure you want to delete this publication?</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
									</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>You won't be able to recover it</p>
                                        <p>{{publication.text}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" (click)="deletePublication(publication._id)" data-dismiss="modal">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--BOOTSTRAP MODEL FOR DELETING A PUBLICATION ENDS HERE -->


                    </div>


                    <div class="pull-right" *ngIf="publication.file != 'null'">
                        <button class="btn btn-warning pull-right" (click)="showThisImage(publication._id)" *ngIf="showImage != publication._id">
					<span class="glyphicon glyphicon-picture"></span>
				</button>

                        <button class="btn btn-danger pull-right" (click)="hideThisImage(publication._id)" *ngIf="showImage == publication._id">
				<span class="glyphicon glyphicon-remove-circle"></span>
			</button>
                    </div>
                    <div class="col-lg-12" *ngIf="publication.file != 'null' && showImage == publication._id">
                        <br/>
                        <img src="{{url + 'get-image-pub/'+ publication.file}}" class="col-lg-12" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
        <p>
            <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
			View more
		</button>
        </p>
    </div>

</div>
<sidebar (sended)="refresh($event)"></sidebar>
<div class="clearfix"></div>