<section class="main">
    <div class="box_content">
        <div class="jumbotron">
            <h1>{{title}}</h1>
            <p>Enjoy your friend's publications and share your life</p>
            <p>
                <a href="#" class="btn btn-outline-primary btn-lg" role="button">
			My profile
		</a>
                <a href="#" class="btn btn-outline-secondary btn-lg" role="button">
			Timeline
		</a>

                <a href="#" class="btn btn-outline-danger btn-lg" role="button">
			People
		</a>
        </div>
    </div>
</section>
<section class="slide">

    <div class="slider-frame">
        <div class="slide-images">
            <div class="img-container">
                <img src="../../../assets/slideshow/happy1.jpg" alt="Happy People">
            </div>
            <div class="img-container">
                <img src="../../../assets/slideshow/happy2.png" alt="Happy People">
            </div>
            <div class="img-container">
                <img src="../../../assets/slideshow/happy3.jpg" alt="Happy People">
            </div>
            <div class="img-container">
                <img src="../../../assets/slideshow/happy4.jpg" alt="Happy People">
            </div>
            <div class="img-container">
                <img src="../../../assets/slideshow/happy5.jpeg" alt="Happy People">
            </div>
        </div>
    </div>
</section>